# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

apps/__pycache__/*.pyc
apps/*/__pycache__/*.pyc
apps/accessibility/__pycache__/*.pyc
apps/story_to_api/__pycache__/routes.cpython-312.pyc
